<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>our locations</h3>
      <a href="#"> <i class="fas fa-map-marker-alt"></i> India </a>
    </div>

    <div class="box">
      <h3>quick links</h3>
      <a href="{{ url_for('index') }}">
        <i class="fas fa-arrow-right"></i> home
      </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> Category </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
      <a href="{{ url_for('static', filename='feedback.html') }}">
        <i class="fas fa-arrow-right"></i> feedback
      </a>
    </div>

    <div class="box">
      <h3>extra links</h3>
      <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> our serivces </a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <a href="tel:+919384481251"> <i class="fas fa-phone"></i> +91 93844 81251 </a>
      <a href="mailto:devakumar@gmail.com ">
        <i class="fas fa-envelope"></i>devakumar@gmail.com
      </a>
      <img
        src="{{ url_for('static', filename='image/worldmap.png') }}"
        class="map"
        alt=""
      />
    </div>
  </div>

  <!-- <div class="share">
    <a href="#" class="fab fa-facebook-f"></a>
    <a href="https://twitter.com/priyankakorde" class="fab fa-twitter"></a>
    <a href="X" class="fab fa-instagram"></a>
    <a
      href="https://www.linkedin.com/in/priyanka-korde-2029521a1/"
      class="fab fa-linkedin"
    ></a>
    <a
      href="https://www.linkedin.com/in/rohit-m-3494521a2/"
      class="fab fa-linkedin"
    ></a>
  </div> -->

  <div class="credit">
    created by <span>Devakumar</span> copyright &copy; 2025
  </div>
</section>
